@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*
{
	margin-left: 5;
	margin-top: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #1B1B1B;
	font-family: 'Roboto Mono', sans-serif;
	font-size: min(max(1rem, 4.35vw), 14px);
	font-weight: 400;
	line-height: 1.25;
	letter-spacing: 0.4px; 
	color: #D9D9D9;
	overflow-x: none;
}
a:link { text-decoration: none; color:  #D9D9D9;}
a:visited { text-decoration: none; color:  #D9D9D9;}
a:hover { text-decoration: none; color: #1B1B1B; background-color: cyan; }
a:active { text-decoration: none; color:  #212121;}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #1B1B1B;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #D9D9D9;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D9D9D9;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  border: 0px solid green;
  width: 100%;
  justify-items: center; /* adjusted */
}
.grid {
	display: grid;
	grid-template-columns: 1.0fr 6fr 1.0fr;
	grid-template-rows: auto;
	border: 0px solid yellow;
	gap: 0px;
}
.grid > div {
	border: 0px solid white;
	box-sizing:  border-box;
}
.txt {
	display: grid;
	grid-template-columns: 2fr 1fr 1.5fr;
	grid-template-rows: auto;
	width: 100%;
}
.txt > div {
	font-weight: 500;
	border: 0px solid yellow;
}
.left {
	text-align: right;
	padding-right: 10px;
}
.title {
	font-family: Barlow, sans-serif; 
	font-size: 165%;
	font-weight: 600;
	padding-top: 16px;
	letter-spacing:1px;
	max-width: 1100px;
}
.center {
	max-width: 1100px;
}
.responsive{
	width: 100%;
}
hr {
	 margin-top:6px;
	 margin-bottom:6px;
}
.content {
	font-family: 'Karla', sans-serif;
	font-size: min(max(1rem, 4.35vw), 15px);
	letter-spacing: 0.0px; 
}
.accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: cyan;
}
.panel {
	display: grid;
  place-items:  center;
  padding: 0 18px;
  max-height: 0px;
  overflow: hidden; 
  transition: max-height 0.2s ease-out;
  border: 0px solid yellow;
}
@media screen and (max-width: 768px) {
  .grid{
  	grid-template-columns: 1fr;
  }
  .txt {
		grid-template-columns: 2fr 1fr 0.5fr;
	}
	.left {
		display: none;
	}
	.right {
		display: none;
	}
}