body {
			background-color: #1B1B1B;
			font-family: "STIX Two Text";
			font-size: 15px;
			color:  #D9D9D9;
}
a:link { text-decoration: none; color:  #D9D9D9;}
a:visited { text-decoration: none; color:  #D9D9D9;}
a:hover { text-decoration: none; color: #1B1B1B; background-color: cyan; }
a:active { text-decoration: none; color:  #1B1B1B;}
a {
    text-decoration: none;
}
div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #1B1B1B;
	border: 1px solid red;
	padding: 5px;
	height: 65px;
	font-size: 15px;
	width: 100%;
}
div {
	border: 1px solid blue;
}
.container {
	display: grid;
	grid-template-columns: 21% 3% 36% 25% 20%;
	grid-template-rows: auto;
	gap: 5px;
	width: 100%;
	grid-template-areas:
		'header . . . .'
		'index02a space index02b index02b .'
		'index01a . index01b index01b .'
		'index00a . index00b index00b .'
		'about . about1 about1 .'
		'project . project1 project1 .'
		'contact . contact1 contact1 .'
		'class class1 class1 class1 .';
}
.container > div {
	font-size: 25px;
	border: 1px solid white;
}
.nested2 {
	display: grid;
	grid-template-columns: 4% 96%;
	grid-gap: 10px;
}
.item0 { grid-area: space; min-width: 20px; }
.item1 { grid-area: header; text-align: right; min-width: 150px;}
.item2 { grid-area: about; text-align: right; min-width: 150px;}
.item3 { grid-area: about1; padding-top:4px;}
.item4 { grid-area: project; text-align: right; min-width: 150px;}
.item5 { grid-area: project1; padding-top:4px;}
.item6 { grid-area: contact; text-align: right; min-width: 150px;}
.item7 { grid-area: contact1; padding-top:4px;}
.item10 { grid-area: title; }
.item11 { grid-area: class; text-align: right;}
.item12 { grid-area: class1; }

.index02b { grid-area: index02b; padding-top:4px;}
.index02a { grid-area: index02a; text-align: right; min-width: 150px;}
.index01b { grid-area: index01b; padding-top:4px;}
.index01a { grid-area: index01a; text-align: right; min-width: 150px;}
.index00b { grid-area: index00b; padding-top:4px;}
.index00a { grid-area: index00a; text-align: right; min-width: 150px;}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}